[user]
	name = Allen Ng
	email = allen.ng@cosaic.io
	signingKey = 97853871
[core]
	editor = vim
	autocrlf = false
[push]
	default = current
[pull]
	default = current
	ff = only
[diff]
	tool = vimdiff
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/MacOS/p4merge
	keepbackup = false
[commit]
	gpgsign = true
[rerere]
	enabled = true
[alias]
	diffi = diff --cached
	heads = for-each-ref --format='%(refname:short) - %(subject)' refs/heads
	ll = "!f(){ git log $(git merge-base master ${1-@})..${@-@};};f"
	ls = log --oneline
	name = "!f(){ basename `git rev-parse --show-toplevel`; git $@; echo;};f"
	npm = !npm

